:root {
    --primary-color: #5B2C6F;
    --secondary-color: #D5DBDB;
    --background-color-light: #FFFFFF;
    --text-color-light: #000000;
    --background-color-dark: #121212;
    --text-color-dark: #FFFFFF;
    --font-size-base: 16px;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-size: calc(var(--font-size-base) + 0.5vw);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.profile-img {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.8); 
}

header {
    text-align: center;
    padding: 20px;
    position: relative;   
}

h1, h2 {
    color: var(--primary-color);
    font-size: 2em;
}

h3 {
    color: var(--primary-color);
    font-size: 1em;
    font-style: italic;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color-dark);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1em;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #4a2a54;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.8); 
}

a {
    color: var(--primary-color);
}

footer {
    text-align: center;
    padding: 20px;
}

.skill {
    margin: 20px 0;
    text-align: center;
    flex: 1 1 200px;
}

.skill p {
    margin: 0;
    font-size: 1.2em;
}

.circular-progress {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 20px;
    border-radius: 45px;  
}

.circular-progress svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.circular-progress circle {
    fill: none;
    stroke-width: 10;
    r: 50;
    cx: 60;
    cy: 60;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.circular-progress .background-circle {
    stroke: var(--secondary-color);
}

.circular-progress .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: var(--primary-color);
}

.circular-progress:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.8);
}

.circular-progress .progress-circle {
    stroke: var(--primary-color);
    stroke-dasharray: 314;
    stroke-dashoffset: 314; 
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
